body{
  margin:0;
  padding-bottom:200px;
  background-color:#DC143C;
  color:white;
  font-family:verdana;
}

/* MENU */
div#menu{
  display:flex;
  padding-top:20px;
  padding-bottom:20px;
  padding-left:0;
  background-color:white;
  margin:0;
  border-bottom: 3px solid black;
  justify-content:space-between;
}
div#menuItem{
  padding:0;
  display:inline;
}
div.menuItem a{
  padding-top:20px;
  padding-bottom:20px;
  padding-left:20px;
  padding-right:20px;
  background-color:white;
  margin:0;
  list-style:none;
  text-decoration:none;
  color: #DC143C;
  transition: 0.2s;
  font-size: 22px;
  font-weight: bold;
  border-bottom: 3px solid black;
}
div.menuItem a:hover{
  color: white;
  background-color:#DC143C;
}
.dica{
  display: none;
  font-family:verdana;
  color: black;
  background-color: white;
  text-align: center;
  border-radius: 8px;
  width: 130px;
  padding:5px;
  font-size:20px;
  margin-top:17px;
  margin-left:5px;
  position:absolute;
  z-index:1;
}
div#itemEsq a:hover + .dica{
  display:block;
}


/* User Flow */
div#siteFlow{
  margin-top:20px;
  margin-bottom:10px;
}
div#siteFlow a{
  color:white;
  transition:0.2s;
}
div#siteFlow a:hover{
  color:#fdff85;
}

/* TEXTOS */
h1{
  font-size:40px;
  text-align:center;
  margin-top:20px;
}
h2{
  font-size:30px;
  padding-bottom:5px;
  padding-top:20px;
  text-align:center;
}
p{
  font-size:20px;
  margin-bottom:5px;
  text-size-adjust: auto;
}

/* BOTÕES */
div#botões{
  display:flex;
  justify-content:center;
}
button{
  font-weight:bold;
  border-radius: 8px;
  font-size:15px;
  margin-top:25px;
  margin-bottom:25px;
  margin-left:15px;
  margin-right:15px;
  height:45px;
  width:120px;
  font-family:verdana;
  color:black;
  transition: 0.2s;
}
button#save{
  background-color:#92ff8a;
  border:2px solid #92ff8a;
}
button#save:hover{
  box-shadow: inset 1px 1px 15px #58ff4d;
  border:2px solid black;
}
button#cancel{
  background-color:#ff8a8a;
  border:2px solid #ff8a8a;
}
button#cancel:hover{
  box-shadow: inset 1px 1px 15px #ff6666;
  border:2px solid black;
}
button#limpar{
  background-color:white;
  border:2px solid white;
}
button#limpar:hover{
  box-shadow: inset 1px 1px 15px #66ccff;
  border:2px solid black;
}


/* INPUTS */
#fiS, #fiN, #menS, #menN{
  width:20px;
  height:20px;
  margin-top: -1px;
  vertical-align: middle;
}
input#cpf{
  width:18vw;
}
input#qtd{
  width:10vw;
}
.l1{
  width:22vw;
}
input#dtnasc{
  width:14vw;
  font-family:verdana;
  font-size:15px;
}
input{
  border: none;
  height: 35px;
  width:30vw;
  border-radius:8px;
  background-color:white;
  font-size:15px;
  padding-left:7px;
  padding-right:7px;
  
}
input:focus{
   background-color:#ffc2c2;
}
select{
  border: none;
  height: 35px;
  width:10vw;
  border-radius:8px;
  background-color:white;
  font-family:verdana;
  font-size:15px;
}
textarea{
  margin: 0; 
  padding: 0; 
  border-width: 0;
  font-family:verdana;
  min-height: 150px;
  font-size:15px;
  width:100%;
  border-radius:8px;
  background-color: white;
  color: black;
}
label{
  font-size:18px;
}
.infoTA{
  border: 1px solid black;
  visibility:hidden;
  font-family:verdana;
  color: black;
  background-color: white;
  text-align: left;
  border-radius: 8px;
  width: 45%;
  padding:5px;
  font-size:14px;
  margin-left:5px;
  position:absolute;
  z-index:1;
}
p i#info:hover + .infoTA{
  visibility:visible;
}


/* DIVs */
div#EE{
  width:25%;
  background-color:#DC143C;
  position:fixed;
  height:100vh;
}
div#ED{
  width:25%;
  background-color:#DC143C;
  position:fixed;
  right:0;
  height:100vh;
}
div#M{
  width:50%;
  background-color:	#DC143C;
  position:relative;
  left:25%;
  min-height:100vh;
}
.linha{
  display: flex;
  justify-content:space-between;
  margin-top: 15px;
  margin-bottom:5px;
}
.txtArea{
  display:block;
  padding-top: 10px;
}
.opt{
  padding-top:8px;
}
div#menor p{
  margin-left:7px;
}

/* RESIZE DA PARTE DE INSERIR DADOS */
@media screen and (max-width: 1100px){
  div#EE, div#ED{
    width:21%;
  }
  div#M{
    width:58%;
    left:21%
  }
  input#cpf{
  width:20vw;
  }
  .l1{
  width:26vw;
  }
  input#dtnasc{
  width:14vw;
  }
  select{
  width:12vw;
  }
}
@media screen and (max-width: 850px){
  div#EE, div#ED{
    width:18%;
  }
  div#M{
    width:64%;
    left:18%;
  }
  .l1{
  width:26vw;
  }
  input#dtnasc{
  width:18vw;
  }
}
@media screen and (max-width: 725px){
  div#EE, div#ED{
    width:14%;
  }
  div#M{
    width:72%;
    left:14%;
  }
  .l1{
  width:30vw;
  }
  input#dtnasc{
  width:22vw;
  }
}
@media screen and (max-width: 600px){
  div#EE, div#ED{
    width:5%;
  }
  div#M{
    width:90%;
    left:5%;
  }
  input#cpf{
  width:26vw;
  }
  .l1{
  width:34vw;
  }
  input#dtnasc{
  width:26vw;
  }
  select{
  width:16vw;
  }
  p, label{
    font-size:16px;
  }
  .dica{
    width:110px;
    font-size:16px;
  }
}

/* RESIZE MENU */
@media screen and (max-width: 320px){
  div.menuItem a{
    font-size: 16px;
  }
  p{
    font-size:12px;
  }
  .dica{
    width:100px;
    font-size:14px;
  }
  .infoTA{
    width:35%;
  }
}
@media screen and (max-width: 260px){
  div.menuItem a{
    font-size: 12px;
  }
  .dica{
    width:60px;
    font-size:12px;
  } 
}
@media screen and (max-width: 220px){
  div.menuItem a{
    font-size: 8px;
    padding-top:10px;
    padding-bottom:10px;
  }
  div#menu{
  margin:0;
  padding-top:10px;
  padding-bottom:10px;
  }  
}
